body, p {
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro Regular', 'Roboto', Arial, Helvetica, sans-serif;
    color: #5a5a5a;
}
a {
    text-transform: uppercase;
    text-decoration: none;
    color: #366aab;
    font-size: 12px;
    font-weight: bold;
}
.clearfix {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    width:1200px;
}
.user_page {
    width: 50%;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    float: left;
}
.user_pic {
    float: left;
    width: 170px;
    height: 170px;
    background-color: #e1e1e1;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
}
.user_pic img {
    max-width: 100%;
}
.user_content {
    float: left;
    width: calc(100% - 190px);
    font-size: 13px;
}
.user_name {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 6px;
    
}
.location {
    display: block;
    clear: both;
    font-size: 12px;
    margin-bottom: 10px;    
}
.location i {
    display: inline-block;
    background: url(../img/flags.png) left top no-repeat;
    width:16px;
    height:11px;
    margin-right: 5px;
}
.location.us i{
    background-position: 0 0;
}
.location.uk i{
    background-position: -16px 0;
}
.location.ru i{
    background-position: -32px 0;
}
.location.ir i{
    background-position: -48px 0;
}
.user_info_container {
    min-height: 90px;
}
.about_user {
    
}
.send_message {
    display: block;
    clear: both;
}

.send_message i {
    display: inline-block;
    width: 19px;
    height: 19px;
    background: url(../img/send-message.png) no-repeat;
    margin:0 5px -5px 0;
}
